body{
font-family: helvetica;
font-size: 15px;
}
button{
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s;
  margin-top: 15px;

  

}
button:hover{
	background: #444B4E;
    border-color: #444B4E;
    color: white;
}

 button:focus {
    background: #444B4E;
    border-color: #444B4E;
    color: white;
  }

#InitialContainer{
	border: 1px solid;
	display: inline-flex;
	margin: 5px;
	background-color: #EBEFEE;
}

#InitialContainer p{
	text-align: center;
	width: 100%
	margin:0px;
	
}


#mainContainer{
	display: inline-flex;
}

#SecondContainer{
	border: 1px solid;
	display: inline-flex;
	margin: 5px;
	background-color: #EBEFEE;
	position: relative;
}

#SecondContainer p{
	margin: 5px;
}

#SecondContainer output{
	margin: 5px;
	
}

#Grandcontainer{
	display: inline-flex;
	box-shadow: 2px 5px 2px;
}

#grantl, #grantn{
	padding: 5px;
	border: 1px solid;
}

#grantn{
	background-color: #EBEFEE;
}

#grantl{
	background-color: #DFE4E2;
}

.firsttitle{
	margin: 5px;
	display: inline-grid;
}
.Secondtitle{
	margin: 5px;
	display: inline-grid;
    width: 96%;
}

#processTe{
	border-right: 1px solid;
}

#InitialContainer input{
	height: 20px;
}


.inp{
	margin: 3px;
	text-align: center;
	border:none;
	transition: all 0.25s;
	border: 1px solid white;
  	border-radius: 3px;
	
}

.inp:hover{
	background-color:  #DFE4E2;
	border-color: white;
}

.inp:focus{
	background-color:  #DFE4E2;
	border-color: white;
}

#options{
	background-color:  #EBEFEE;
	width: 120px;
	margin-top: 15px;
}

#options div{
	border-bottom:1px solid;
}

.check1{
	margin-left: 42px;
	border-left: 1px solid;
}

.check2{
	margin-left: 55px;
	border-left: 1px solid;
}
.check3{
	margin-left: 22px ;
	border-left: 1px solid;
}

.check4{
	border-left: 1px solid;
	margin-left: 1px ;
}

#options div:hover{
background-color:  #DFE4E2;
}

#options div:focus{
background-color:  #DFE4E2;
}